<div class="dash-page">
    <div class="profile-card" *ngIf="account">
        <div class="profile-avatar">{{account.firstName?.charAt(0)}}{{account.lastName?.charAt(0)}}</div>
        <h1>{{account.title}} {{account.firstName}} {{account.lastName}}</h1>
        <p class="profile-email">{{account.email}}</p>
        <div class="role-badge">{{account.role}}</div>
        <br />
        <a routerLink="update" class="btn-update">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>
            Update Profile
        </a>
    </div>
</div>